*.deb
*.buildinfo
*.changes
.debhelper/
debhelper-build-stamp
*.substvars
**/debian/files
**/debian/sv-*/
tools/*/bin/

*.asc
*secret*
svent-signing-key.asc

tools/*/.build.*/
tools/*/.src/
tools/*/.cargo-root/
/build/
/dist/
