Source: sv-tools-recon
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-tools-recon
Architecture: all
Depends: svent-core, sv-dnsrecon, sv-nmap, sv-amass, sv-hping3, sv-masscan, sv-netdiscover, sv-arp-scan, sv-dnsenum, sv-fierce, sv-zmap, sv-arping, sv-subfinder, sv-dnsx, sv-httpx, sv-uncover, ${misc:Depends}
Description: Svent recon tool group
 Installs every Svent tool in the recon category.
