Source: sv-tools-recon
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-tools-recon
Architecture: all
Depends: svent-core, sv-amass, sv-arp-scan, sv-arping, sv-asnmap, sv-assetfinder, sv-dig, sv-dnsenum, sv-dnsrecon, sv-dnsx, sv-fierce, sv-fping, sv-hping3, sv-httpx, sv-katana, sv-mapcidr, sv-masscan, sv-massdns, sv-naabu, sv-netdiscover, sv-nmap, sv-puredns, sv-rustscan, sv-shuffledns, sv-subfinder, sv-uncover, sv-whois, sv-zmap, ${misc:Depends}
Description: Svent recon tool group
 Installs every Svent tool in the recon category.
