Source: sv-uncover
Section: net
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-uncover
Architecture: amd64
Depends: svent-core, ${shlibs:Depends}, ${misc:Depends}
Description: Svent recon tool: uncover
 Built from upstream source.
