Source: sv-nmap
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-nmap
Architecture: all
Depends: svent-core, nmap, ${misc:Depends}
Description: Svent recon tool: nmap
 Installs nmap and registers it in the Svent catalog and menu.
